<a href="https://colab.research.google.com/github/surajmutke/The-Global-Terrorism-Database-/blob/main/Copy_of_Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

The aim of this notebook is to explore the terrorist events around the world. Interactive Plots, for making the exploration easy and more informative.

## **1.1 Importing Dictionaries**

In [3]:
# Lets start to importing some dictonaries

import math
import warnings
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import plotly.offline as py
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
terrorism=pd.read_csv('/content/drive/MyDrive/Global Terrorism Data.csv' ,encoding='ISO-8859-1')

In [5]:
terrorism.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [6]:
terrorism.tail()

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[5 rows x 135 columns]

In [7]:
terrorism.shape

(181691, 135)

In [8]:
terrorism.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [9]:
#Cleaning Coloums name
terrorism.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','region_txt':'Region','provstate':'State','attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)
terrorism=terrorism[['Year','Month','Day','Country','Region','city','State','latitude','longitude','AttackType','Killed','Wounded','Target','Summary','Group','Target_type','Weapon_type','Motive']]
terrorism.head(3)

   Year  Month  Day  ...                  Target_type Weapon_type Motive
0  1970      7    2  ...  Private Citizens & Property     Unknown    NaN
1  1970      0    0  ...      Government (Diplomatic)     Unknown    NaN
2  1970      1    0  ...          Journalists & Media     Unknown    NaN

[3 rows x 18 columns]

In [10]:
# Checking the null velues in data
terrorism.isnull().sum()

Year                0
Month               0
Day                 0
Country             0
Region              0
city              434
State             421
latitude         4556
longitude        4557
AttackType          0
Killed          10313
Wounded         16311
Target            636
Summary         66129
Group               0
Target_type         0
Weapon_type         0
Motive         131130
dtype: int64

In [11]:
terrorism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year         181691 non-null  int64
 1   Month        181691 non-null  int64
 2   Day          181691 non-null  int64
 3   Country      181691 non-null  object
 4   Region       181691 non-null  object
 5   city         181257 non-null  object
 6   State        181270 non-null  object
 7   latitude     177135 non-null  float64
 8   longitude    177134 non-null  float64
 9   AttackType   181691 non-null  object
 10  Killed       171378 non-null  float64
 11  Wounded      165380 non-null  float64
 12  Target       181055 non-null  object
 13  Summary      115562 non-null  object
 14  Group        181691 non-null  object
 15  Target_type  181691 non-null  object
 16  Weapon_type  181691 non-null  object
 17  Motive       50561 non-null   object
dtypes: float64(4), int64(3), object(11)
memory usage: 25.0+ MB

## **Destructive Feature of data**

In [32]:
print("Country with the most attacks:",terrorism['Country'].value_counts().index[0])
print("City with the most attacks:",terrorism['city'].value_counts().index[1]) #A first entry is Unknown
print("Region with the most attacks:",terrorism['Region'].value_counts().index[0])
print("Year with the most attacks:",terrorism['Year'].value_counts().index[0])
print("Month with the most attacks:",terrorism['Month'].value_counts().index[0])
print("Group with the most attacks:",terrorism['Group'].value_counts().index[1])
print("Most Attack Types:",terrorism['AttackType'].value_counts().index[0])

Country with the most attacks: Iraq
City with the most attacks: Baghdad
Region with the most attacks: Middle East & North Africa
Year with the most attacks: 2014
Month with the most attacks: 5
Group with the most attacks: Taliban
Most Attack Types: Bombing/Explosion

# **Data Visualisation**

**Number of Terrorist Activities each Year**